node_modules/
dist/

# Terraform state
*.tfstate
*.tfstate.backup

# Terraform crash logs
crash.log

# Terraform variable files
terraform.tfvars
*.tfvars

# Terraform directories
.terraform/

# Sensitive data
*.pem
*.key
*.zip

# OS files
.DS_Store
